<dom-module id="amag-car-overview">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/paper-card/paper-card.html">
    <link rel="import" href="../bower_components/iron-icon/iron-icon.html">

  <template>
    <style is="custom-style">
    .myfab{
        position:relative;
        margin-right:-40px;
        margin-top:-40px;
    }
    </style>
    <style>
        .card-content{
            color:black;
        }
        .card-content h1{
            font-size:23px;
        }
        .card-content p{
            font-size:19px;
        }
    </style>
    <iron-pages id="amag-car-overview-pages" selected="0">
        <div>
            <paper-card>
              <div class="card-content">
                <paper-fab mini class="myfab" on-click="next" icon="info"></paper-fab>
                <paper-fab mini class="myfab" id="favorite0" style="margin-top:0" on-click="like" icon="{{carIcon}}"></paper-fab>
                <paper-fab mini class="myfab" icon="mail" style="margin-top:40px"></paper-fab>
                <img style="width:100%; margin-bottom:-9px;" src="{{carImages}}">
            </div>
            </paper-card>
        </div>
        <div>
            <paper-card>

                <div class="card-content">
                  <img style="width:100%;height:0px; margin-bottom:-9px;" src="{{carImages}}">

                    <h1>Brand: <span>{{car.brand}}</span></h1>
                    <h1>Model: <span>{{car.modelGerman}}</span></h1>
                    <p>Model Year: <span>{{car.modelYear}}</span></p>
                    <p>Sales Type: <span>{{car.saleType}}</span></p>
                    <p>Fuel Type: <span>{{car.fuelType}}</span></p>
                    <p>Mile Age: <span>{{car.mileage}}</span></p>
                    <p>Number of Seats: <span>{{car.seats}}</span></p>
                    <p style="font-weigth:bold">Prize: <span>{{car.price}}</span></p>
                </div>
                <paper-fab mini class="myfab" on-click="next" icon="undo"></paper-fab>
                <paper-fab mini class="myfab" id="favorite1" style="margin-top:0" on-click="like" icon="{{carIcon}}"></paper-fab>
                <paper-fab mini class="myfab" icon="mail" style="margin-top:40px"></paper-fab>
            </paper-card>
        </div>


    </iron-pages>

  </template>
  <script>
    Polymer({
      is: 'amag-car-overview',
      properties: {
            car: {
              notify: true,
            },
            carIcon: {
                notify: true,
              computed: 'getIcon(car.liked)'
            },
            carImages: {
                notify: true,
                computed: 'getImage(car)'
            }
      },
    getIcon: function(like){
        if(like)
            return 'favorite';
        else
            return 'favorite-border';
        },
      getImage: function(car){
        if(car.vehicleImages == undefined) return "";
        return "http://api.hackzurich.amag.ch/hackzurich/image/" + car.vehicleImages[0].id + "/thumbnail"
      },
      next: function(){
        var pages = this.querySelector("iron-pages");
        pages.selectNext();
    },
    like: function(){
        console.log("like");
        if(car.liked){
            car.liked=false;
        }
        else{
            car.liked=true;
        }
    },

    _observe: function(newValue, oldValue){
              console.log("observer called!");
        }
    });
  </script>
</dom-module>
