<dom-module id="amag-results">
  <link rel="import" href="../elements/amag-car-overview.html">
  <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
  <template>
    <style>
      :host {
        display: block;
      }
      #main{
          position:absolute;
          display:block;
          width:100%;
          margin:0;
          background-color:var(--main-background-result);
      }
    </style>
        <div id="main">
            <div class="vertical layout center">
                <h1>Your Personal Results</h1>
                <template is="dom-repeat" items="{{finaldata}}">
                    <amag-car-overview style="padding-top:10px;padding-bottom:10px;" width="200" car="{{item}}">
                    </amag-car-overview>
                </template>
            </div>
        </div>
  </template>
  <script>
    Polymer({
      is: 'amag-results',
      properties: {
          result:{
              notify:true
              }
          }
        });
  </script>
</dom-module>
