<dom-module id="amag-slider">
    <link rel="import" src="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="../bower_components/paper-slider/paper-slider.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <style is="custom-style">
        iron-pages {
          @apply(--layout-fit);

          color: white;
          margin: auto;
          cursor: default;
        }
        iron-pages div {
          @apply(--layout);
          @apply(--layout-center);
          @apply(--layout-center-justified);
          @apply(--paper-font-display1);
          width: 100%;
          height: 100%;
          font-size: 50px;
        }
        .image-wrapper{
            width:50%;
            height:100%;
         }
        .image{
            max-width:100%;
            max-height:100%;
            min-width:200px;
            border-radius:4px;
        }
        paper-slider{
            position:absolute;
            left:25%;
            bottom:10px;
            width:50%;
            --paper-slider-active-color:transparent;
        }
        .background-stuff{
            display:block;
            background-color:var(--background-main);
        }

        .back{
            position:fixed;
            left:5%;
            top:5%;
        }
        .next{
            position:fixed;
            right:5%;
            top:5%;
        }
        .price{
            font-size:20px;
            color:black;
        }
    </style>
    <template>
        <iron-pages id="amag-slider-pages" selected="0">
                <div class="vertical layout background-stuff">
                    <div>
                        <h1 style="color:black">Price:&nbsp;&nbsp;</h1>
                            <paper-input class="price" value="{{price}}"></paper-input>
                    </div>
                    <paper-slider min="0" max="175000" value="{{price}}"></paper-slider>
                    <paper-fab class="next" on-click="next" icon="arrow-forward"></paper-fab>
                </div>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'amag-slider',
            properties: {
                finaldata:{
                  notify:true
                },
                result:{
                  notify:true
                },
                res:{
                  notify:true
                },
                price:{
                    type: Number,
                    value: 27000,
                    notify: true,
                    reflectToAttribute: true
                    },
                sliders: {
                    notify:true
                }
            },
            ready: function(){
                this.sliders = [
                    {
                        title:"Price?"
                    }
                ]
            },
            next: function(){
                var sel = document.querySelector('#amag-slider-pages').selected;
                if(sel == this.sliders.length-1){
                    // a bit sloppy, only works when 2 levels of nesting!
                    var pages = document.querySelector('#main-iron-pages');
                    // get selection

                        // TODO make async

                        data = this.finaldata;
                        s_design = this.res[0];
                        s_eco = this.res[1];
                        s_family = this.res[2];
                        s_sport = this.res[3];
                        s_offroad = this.res[4];
                        s_weight = this.res[5];
                        price = this.price;

                        var price_over = 1.1;
                        var price_under = 0.8;

                        var price_max = price * price_over;
                        var price_min = price * price_under;

                        var select_count = 100;

                        selected = []
                        for (key in data){
                          elem = data[key]
                          if(elem.price < price_max){
                            if(elem.price > price_min){
                              selected.push({key:key})
                            }
                          }
                        }

                        function relation(key, score){
                          key = key/5
                          return 1-Math.abs(key-score)

                        }

                        selected.forEach(function(elem){
                          car = data[elem.key]
                          elem.score = relation(car.designScore,s_design)+relation(car.ecoScore,s_eco)+relation(car.familyScore, s_family)+relation(car.offroadScore, s_offroad)+relation(car.sportScore, s_sport)+relation(car.weightScore, s_weight);
                        })

                        function compare(a,b){
                          if(a.score<b.score)
                            return -1;
                          if(a.score>b.score)
                            return 1;
                          return 0;

                        }

                        selected.sort(compare);
                        selected = selected.slice(-select_count)

                        whole_selection = []
                        for (i=selected.length-1; i>=0; --i) {
                          obj = data[selected[i].key];
                          obj.score = selected[i].score;
                          whole_selection.push(obj)
                        }

                      console.log(whole_selection);

                      for(var i = 0; i < whole_selection.length; ++i){
                        whole_selection[i].id = i;
                      }


                      document.querySelector('amag-slider').result = whole_selection;

                }
                else {
                    var pages = document.querySelector('#amag-slider-pages');

                }
                pages.selectNext();
            },
            back: function(){
                var pages = document.querySelector('#amag-slider-pages');
                pages.selectPrevious();
            }
        });
    </script>
</dom-module>
