<dom-module id="amag-image-selectable">
    <link rel="import" href="../bower_components/iron-image/iron-image.html">
    <style is="custom-style">
        :host([feedback]) img{
            box-shadow: 0px 0px 10px 5px var(--amag-hover-color);
        }
        .buttons{
            border-color: rgba(0,0,0,0);
            border-radius: 2px;
            margin:0;
            width:100%;
        }
        .wrapper{
        }
    </style>
    <template>
        <!--todo: do this with iron-image-->
        <div class="wrapper">
            <img id="myimg" class="buttons" src="{{image}}">
        </div>
    </template>
    <script>
        Polymer({
            is: 'amag-image-selectable',
            properties: {
                image: String,
                feedback:{
                    type: Boolean,
                    value: false,
                    notify: true,
                    reflectToAttribute: true
                }
            },
            listeners:{
                'tap': 'toggle'
            },
            toggle: function(){
                this.feedback = !this.feedback;
                console.log(this.feedback);
            }
        });
    </script>
</dom-module>
