<dom-module id="amag-image-cards">
    <link rel="import" href="amag-image-selectable.html">
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <template>
            <p>Choose 3 from below</p>
            <div style="background-color:green;position:absolute;display:block;height:100%;">
                <div class="vertical layout">
                    <template is="dom-repeat" items="{{cards}}">
                        <div class="horizontal layout" style="height:33%">
                            <template is="dom-repeat" items="{{item}}">
                                <amag-image-selectable image="{{item.img}}" count={{count}}>
                                </amag-image-cards>
                            </template>
                        </div>
                    </template>
                </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'amag-image-cards',
            ready: function(){
                this.count = 3;
                this.cards = [
                    [{
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "sport",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    }],
                    [{
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "sport",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    }],
                    [{
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "offroad",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    },
                    {
                        type: "sport",
                        img: "http://lorempixel.com/output/city-q-c-640-480-8.jpg"
                    }]
                ]
            }
        });

    </script>
</dom-module>
