<dom-module id="amag-image-chooser">
    <link rel="import" src="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <style is="custom-style">
        iron-pages {
          @apply(--layout-fit);

          color: white;
          margin: auto;
          cursor: default;
        }
        iron-pages div {
          @apply(--layout);
          @apply(--layout-center);
          @apply(--layout-center-justified);
          @apply(--paper-font-display1);
          width: 100%;
          height: 100%;
          font-size: 50px;
        }
        .image-wrapper{
            width:50%;
            height:100%;
        }
        .image{
            max-width:100%;
            max-height:100%;
            min-width:200px;
            border-radius:4px;
        }
        paper-slider{
            position:absolute;
            left:25%;
            bottom:10px;
            width:50%;
            --paper-slider-active-color:transparent;
        }
        .background-stuff{
            display:block;
            background-color:var(--main-background);
        }

        .back{
            position:fixed;
            left:5%;
            top:5%;
        }
        .next{
            position:fixed;
            right:5%;
            top:5%;
        }
        .myfabright{
            position:relative;
            left:75%;
            top:85%;
        }
        .myfableft{
            position:relative;
            left:25%;
            top:85%;
        }
        .fancy{
            background-color: white;
            color:#333;
        }
    </style>
    <template>
        <iron-pages id="amag-image-chooser-pages" selected="0">
                <div class="vertical layout background-stuff">
                    <div class="list short" role="list">
                        <div class="image-wrapper">
                            <amag-car-overview car="{{item.left}}"></amag-car-overview>
                            <paper-fab class="myfableft" on-click="nextLeft" icon="check"></paper-fab>
                        </div>
                        <div class="image-wrapper">
                            <amag-car-overview car="{{item.right}}">

                            </amag-car-overview>
                            <paper-fab class="myfabright" on-click="nextRight" icon="check"></paper-fab>
                        </div>
                    </div>
                    <paper-button raised class="fancy" on-click="finish">finish</paper-button>
                </div>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'amag-image-chooser',
            properties: {
                result:{
                  notify:true,
                  observer:'_resultLoaded',
                  value: {counter:-1}
                },
                doit:{
                    type:Boolean,
                    notify:true,
                    value:true
                },
                selected:{
                    type: Boolean,
                    value: false,
                    notify: true,
                    reflectToAttribute: true
                },
                item:{
                    notify: true,
                    value:{}
                },
                weights:{
                  notify:true,
                  value:{}
                }
            },
            finish: function(){
                this.doit=false;
                    for(var i=0;i<this.result.length;i++){
                        this.result[i].score = this.result[i].weights.score;
                    }
                    this.result.sort(function(a,b) {
                        if(a.score<b.score)
                            return 1;
                        if(a.score>b.score)
                            return -1;
                        return 0;
                    });
                    var res = [];
                    for(var i=0;i<this.result.length;i++){
                        if(this.result[i].liked)
                            res.push(this.result[i]);
                    }
                    this.result = this.result.slice(0,10);
                    for(var i=0;i<this.result.length;i++){
                        for(var j=0;j<res.length;j++){
                            if(res[j] == this.result[i])
                                break;
                        }
                        res.push(this.result[i]);
                    }
                    this.result = res;
                    console.log(this.result);
                    document.querySelector("#main-iron-pages").selectNext();
            },
            _resultLoaded: function(newValue, oldValue){
                if(!this.doit)
                    return;
              console.log("results updated")
              if (oldValue == undefined)
              return;
              if(oldValue.counter == -1&&newValue.length>0){
                this.item.counter = 0;
                obj = []
                for (i=0;i<newValue.length;i++){
                  k = {}
                  k.num = []
                  k.num.push(newValue[i].sportScore * 2 / 5)
                  k.num.push(newValue[i].familyScore * 2 / 5)
                  k.num.push(newValue[i].ecoScore * 2 / 5)
                  k.num.push(newValue[i].offroadScore * 2 / 5)
                  k.num.push(newValue[i].designScore * 2 / 5)
                  k.num.push(newValue[i].weight)
                  k.num.push(Math.abs(newValue[i].modelYear-2004)*2/12)
                  //k.num.push(newValue[i].emissions)
                  k.brand = newValue[i].brand;
                  k.exteriorColor = newValue[i].exteriorColor;
                  k.vin = newValue[i].vin;
                  k.score = newValue[i].score;
                  newValue[i].weights = k;
                  obj.push(k)
                }
                this.weights = obj

              }
              counter = this.item.counter;
              nResults = newValue.length
              if (nResults <= 1){
                //TODO show (empty) results
              }
              if(counter == Math.floor(data.length/4)){
                //TODO call result
              }

              var obj = {}


              if(counter%2 == 0){
                obj.left = newValue[counter];
                obj.left.weights = this.weights[counter]
                obj.right = newValue[nResults-1-counter];
                obj.right.weights = this.weights[nResults-1-counter]
              } else {
                obj.left = newValue[Math.floor(nResults/2)-counter];
                obj.left.weights = this.weights[Math.floor(nResults/2)-counter]
                obj.right = newValue[Math.floor(nResults/2)-1+counter];
                obj.right.weights = this.weights[Math.floor(nResults/2)-1+counter]
              }
              counter++
              obj.counter = counter;
              this.item = obj
              console.log(this.item)

            },
            nextRight:function(){
              this.next("right-won");
            },
            nextLeft:function(){
              this.next("left-won")
            },

            next: function(won){
                //next got called now we need to calculate the differences...
                winner = this.item.right
                loser = this.item.left
                if(won=="left-won"){
                    winner = this.item.left
                    loser = this.item.right
                }


                function correlation(v1, v2){
                  sum = 0;
                  counter = 0;
                  a = 0.1

                  for (j = 0;j<v1.num.length;j++){
                    if(v1.num[i]*v2.num[j]!=0){
                      sum = sum + Math.max(v1.num[j], v2.num[j])/Math.min(v1.num[j], v2.num[j])
                      counter++;
                    }
                  }

                  if(v1.brand == v2.brand){
                    sum++;
                    counter++;
                  }
                  if(v1.exteriorColor == v2.exteriorColor){
                    sum++;
                    counter++
                  }
                  console.log(Math.exp((1-(sum/counter))*2.5)*0.5);
                  return Math.exp((1-(sum/counter))*2.5)*0.5;
                  //return Math.exp(1-0.4*(sum/counter)^4+(sum/counter))*a;
                }

                weights = this.weights
                for (i=0; i<weights.length;i++){
                  weights[i].score += correlation(winner.weights, weights[i]) - correlation(loser.weights, weights[i])
                }
                console.log(weights)
                this._resultLoaded(this.result, this.result)

                //todo: return the objects
                //todo: get the new objects and simply update the this.item
            }        });
    </script>
</dom-module>
