<dom-module id="amag-data">
  <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      auto
      id="colorajax"
      url="https://amag.firebaseio.com/exterior_color.json"
      handle-as="json"
      content-type="application/json"
      on-response="handleResponseColors"
      method='GET'
      last-response="{{colors}}"></iron-ajax>


    <iron-ajax
      auto
      id="vehicleajax"
      url="https://amag.firebaseio.com/vehicle.json"
      handle-as="json"
      content-type="application/json"
      on-response="handleResponseVehicles"
      method='GET'
      last-response="{{vehicles}}"></iron-ajax>
  </template>



  <script>
    Polymer({
      is: 'amag-data',
      properties:{
        colors:{
          value:undefined,
          notify:true,
        },
        vehicles:{
          value:undefined,
          notify:true
        },
        finaldata:{
          value:{test:true},
          notify:true,
          reflectToAttribute:true
        }
      },
      handleResponseVehicles: function(request){
        if(this.$.colorajax.lastResponse == undefined){
        }else{
          this.merge()
        }
      },
      handleResponseColors: function(request){
        if(this.$.vehicleajax.lastResponse == undefined){
        }else{
          this.merge()
        }
      },
      merge: function(){
        colors = this.$.colorajax.lastResponse;
        vehicles = this.$.vehicleajax.lastResponse;
        reduced_data = [];
        for (var key in vehicles){
          entry = vehicles[key]
          entry.score = 0;
          weight = entry.weight;
          normed_weight = 0;
          if (weight>900){
            if(weight<1450){
              normed_weight = (weight-900)/(550*2);
            }else if(weight <2600){
              normed_weight = ((weight-1450)/(1700*2))+0.5
            }else{
              normed_weight = 1;
            }
          }

          entry.weightScore = normed_weight;
          entry.s_exteriorColor = colors[entry.exteriorColor].category;
          entry.exteriorColor = colors[entry.exteriorColor].description_de;

          reduced_data.push(entry)

        }

        document.querySelector('amag-data').finaldata = reduced_data;


      }

    });

  </script>
</dom-module>
