<dom-module id="amag-app">

    <link rel="import" href="../elements/amag-data.html">
    <link rel="import" href="../elements/amag-search.html">

    <link rel="stylesheet" href="../styles.css">
  <template>
    <style is="custom-style">
    :root{
          --amag-hover-color: green;
          display:block;
      }
    </style>
    <amag-data finaldata="{{data}}"></amag-data>
    <amag-search finaldata="{{data}}"></amag-search>

  </template>
  <script>
    Polymer({
      is: 'amag-app',
      properties:{
        data:{
          notify:true
        }
      }


    });
  </script>

</dom-module>
