<dom-module id="amag-search">
  <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
  <!-- <link rel="import" href="bower_components/font-roboto/roboto.html"> -->
  <link rel="import" href="../bower_components/paper-button/paper-button.html">
  <link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
  <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="../bower_components/paper-fab/paper-fab.html">
  <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="../bower_components/paper-toast/paper-toast.html">

  <link rel="import" href="../bower_components/paper-styles/paper-styles.html">
  <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
  <link rel="import" href="../elements/amag-image-slider.html">
  <link rel="import" href="../elements/amag-slider.html">
  <link rel="import" href="../elements/amag-image-cards.html">
  <link rel="import" href="../elements/amag-image-chooser.html">
  <link rel="import" href="../elements/amag-results.html">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-pages id="main-iron-pages" selected="0">
        <div>
            <amag-image-slider finaldata="{{finaldata}}" res="{{res}}" result="{{result}}"></amag-image-slider>
        </div>
        <div>
            <amag-slider finaldata="{{finaldata}}" res="{{res}}" result="{{result}}"></amag-slider>
        </div>
        <div>
            <amag-image-chooser result="{{result}}"></amag-image-chooser>
        </div>
        <div>
            <amag-results finaldata="{{result}}"></amag-results>
        </div>

    </iron-pages>
  </template>
  <script>
    Polymer({
      is: 'amag-search',
      properties:{
        finaldata:{
          notify:true
        },
        result:{
            notify:true
        }
      }
    });
  </script>
</dom-module>
