<dom-module id="amag-image-slider">
    <link rel="import" src="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="../bower_components/paper-slider/paper-slider.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <style is="custom-style">
        iron-pages {
          @apply(--layout-fit);

          color: white;
          margin: auto;
          cursor: default;
        }
        iron-pages div {
          @apply(--layout);
          @apply(--layout-center);
          @apply(--layout-center-justified);
          @apply(--paper-font-display1);
          width: 100%;
          height: 100%;
          font-size: 50px;
        }
        .image-wrapper{
            width:50%;
            height:100%;
        }
        .image{
            max-width:100%;
            max-height:100%;
            min-width:200px;
            border-radius:4px;
        }
        paper-slider{
            position:absolute;
            left:25%;
            bottom:10px;
            width:50%;
            --paper-slider-disabled-secondary-color: transparent;
        }
        .background-stuff{
            display:block;
            background-color:var(--main-background);
        }
        .back{
            position:fixed;
            left:5%;
            top:5%;
        }
        .next{
            position:fixed;
            right:5%;
            top:5%;
        }
    </style>
    <template>
        <iron-pages id="amag-image-slider-pages" selected="0">
                <template is="dom-repeat" items="{{sliders}}">
                    <div class="vertical layout background-stuff">
                        <div>
                            <div class="image-wrapper">
                                <img id="left" class="image" src="{{item.left}}">
                            </div>
                            <div class="image-wrapper">
                                <img id="right" class="image" src="{{item.right}}">
                            </div>
                        </div>
                        <paper-slider min="0" max="100" value="{{item.value}}"></paper-slider>
                        <paper-fab class="next" on-click="next" icon="arrow-forward"></paper-fab>
                    </div>
                </template>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'amag-image-slider',
            properties: {
                finaldata:{
                  notify:true
                },
                result:{
                  notify:true
                },
                res:{
                  notify:true
                },
                price:{
                    type: Number,
                    value: 0,
                    notify: true,
                    reflectToAttribute: true
                    },
                sliders: {
                    notify:true
                }
            },
            ready: function(){
                this.sliders = [
                    {
                    left:"../images/luxury_0_4.png",
                    right:"../images/luxury_1.png",
                    type: "s_design",
                    value: 50
                    },
                    {
                    left:"../images/eco_0.png",
                    right:"../images/eco_1.png",
                    type: "s_eco",
                    value: 50
                    },
                    {
                    left:"../images/family_0.png",
                    right:"../images/family_1.png",
                    type: "s_family",
                    value: 50
                    },
                    {
                    left:"../images/sport_0.png",
                    right:"../images/sport_1.png",
                    type: "s_sport",
                    value: 50
                    },
                    {
                    left:"../images/offroad_0.png",
                    right:"../images/offroad_1.png",
                    type: "s_offroad",
                    value: 50
                    },
                    {
                    left:"../images/weight_0.png",
                    right:"../images/weight_1.png",
                    type: "s_weight",
                    value: 50
                    }
                ]
            },
            next: function(){
                var sel = document.querySelector('#amag-image-slider-pages').selected;
                if(sel == this.sliders.length-1){
                    // a bit sloppy, only works when 2 levels of nesting!
                    var pages = document.querySelector('#main-iron-pages');
                }
                else {
                    var pages = document.querySelector('#amag-image-slider-pages');
                    this.res = [];
                    for(var i=0;i<this.sliders.length;i++){
                        this.res.push(this.sliders[i].value/100);
                        }
                }
                pages.selectNext();
            },
            back: function(){
                var pages = document.querySelector('#amag-image-slider-pages');
                pages.selectPrevious();
            }
        });
    </script>
</dom-module>
